
<div class="container">

<div class="row"><h1 class="h1index">Twitetr</h1></div>
<div class="row"><h3 class="h3index">Tweeta rätt med rättstavning från Libris</h3></div>
<div class="row">
<div class="col-lg-3"></div>
<div class="col-lg-6">


{{#if user}}
<a class="btn btn-block twitter-btn" href="/tweet"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i><p>JAG VILL TWEETA!</p></a>
{{else}}
<a class="btn btn-block twitter-btn" href="/auth/twitter"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i><p>JAG VILL LOGGA IN!</p></a>
{{/if}}

</div>
<div class="col-lg-3"></div>
</div>

<div class="row mt-5">
<div class="col-lg-5"></div>
<div class="col-lg-2 text-center">
<a class="indexdownarrow" href=""><i class="fa fa-angle-down fa-3x" aria-hidden="true"></i></a>
</div>
<div class="col-lg-5"></div>
</div>

<div class="row">
    <h2 class="h2index">BYGGT MED</h2>
    <h4 class="h4index"></h4>
    
</div>

<div class="row componentlogos">

  <div class="col-lg-3">
  <div class="card" style="width: 250px;">
  <img class="card-img-top" src="/img/node.png" alt="Card image cap">
 
</div>
  </div>
    <div class="col-lg-3">
        
          
  <div class="card" style="width: 250px;">
  <img class="card-img-top" src="/img/express.png" alt="Card image cap">

</div>
        
        
    </div>
    
      <div class="col-lg-3">
  <div class="card" style="width: 250px;">
  <img class="card-img-top" src="/img/handlebars.png" alt="Card image cap">

</div>
  </div>
  
    <div class="col-lg-3">
  <div class="card" style="width: 250px;">
  <img class="card-img-top" src="/img/mongodb.png" alt="Card image cap">

</div>
  </div>
  
  
  
 


</div>



<div class="row">
    
    <h2 class="h2index2">API</h2>
    
</div>

<div class="row">
    
    
    <h2 class="h2index2">TEAMET</h2>
    
    <h3 class="h3index2">Viktor Olsson</h3>
    <h3 class="h3index2">Alexander Masud</h3>
    <h3 class="h3index2">Marika Moreau</h3>
    <h3 class="h3index2">Philip Lunderquist</h3>
    
    
</div>
</div>
