<div class="container">

<div class="row"><h1 class="h1index">@{{user.twitterhandle}}</h1></div>
<div class="row"><h3 class="h3index">Skriv ett tweet så fixar vi rättstavningen</h3></div>

<form method="post" action="/tweet">
<input type="text" name="twitterid" value="{{user.twitterid}}" readonly hidden>

<div class="row">
    <div>
     <label><h5 style="color:white;">Språk:</h5></label>
      <select class="form-control" name="language" id="sel1">
              <option value="sv">Svenska</option>
              <option value="ar">Arabiska</option>
              <option value="da">Danska</option>
              <option value="en-AU">Engelska (Australien)</option>
              <option value="en-CA">Engelska (Kanada)</option>
              <option value="en-IN">Engelska (Indien)</option>
              <option value="en-ID">Engelska (Indonesien)</option>
              <option value="en-MY">Engelska (Malaysia)</option>
              <option value="en-NZ">Engelska (Nya Zealand)</option>
              <option value="en-PH">Engelska (Filippinerna)</option>
              <option value="en-ZA">Engelska (Sydafrika)</option>
              <option value="en-GB">Engelska (Storbritannien)</option>
              <option value="en-US">Engelska (USA)</option>
              <option value="fi">Finska</option>
              <option value="fr-BE">Franska (Belgien)</option>
              <option value="fr-CA">Franska (Kanada)</option>
              <option value="fr-FR">Franska (Frankrike)</option>
              <option value="fr-CH">Franska (Schweiz)</option>
              <option value="n1-BE">Holländska (Belgien)</option>
              <option value="n1-NL">Holländska (Nederländerna)</option>
              <option value="it">Italienska</option>
              <option value="ja">Japanska</option>
              <option value="zh-CN">Kinesiska (Kina)</option>
              <option value="zh-HK">Kinesiska (Hong Kong SAR)</option>
              <option value="zh-TW">Kinesiska (Taiwan)</option>
              <option value="ko">Koreanska</option>
              <option value="no">Norska</option>
              <option value="pl">Polska</option>
              <option value="pt-BR">Portugisiska (Brasilien)</option>
              <option value="pt-PT">Portugisiska (Portugal)</option>
              <option value="ru">Ryska</option>
              <option value="es-AR">Spanska (Argentina)</option>
              <option value="es-MX">Spanska (Mexiko)</option>
              <option value="es-ES">Spanska (Spanien)</option>
              <option value="es-US">Spanska (USA)</option>
              <option value="de-AT">Tyska (Österrike)</option>
              <option value="de-DE">Tyska (Tyskland)</option>
              <option value="de-CH">Tyska (Schweiz)</option>
              <option value="tr">Turkiska</option>
      </select>
    </div>
</div>

 <div class="row">


  <div class="col-lg-4"></div>
     <div class="col-lg-4">
      <div class="form-group-lg">
        <textarea id="textarea" class="form-control-lg form-rounded" rows="6" id="tweetText" name="tweetText" cols="40" maxlength="140" required>{{cc}}</textarea>

      </div>
  </div>

  <div class="col-lg-4"></div>


  </div>

    <div class="row">
      

           <div class="col-lg-4"></div>
            <div class="col-lg-4">
          <button type="submit" class="btn btn-outline-secondary twitter-btncolor btn-block" style="width: 150px;"> Tweeta! </button>
        
       </div>

       <div class="col-lg-1"></div>
       <p id="newid">(</p><span id="chars">0</span><p id="newid"> / 140)</p>
    
      </div>
</form>






</div>
