<form method="post" action="/tweet">
 <input type="text" name="twitterid" value="{{user.twitterid}}">
  <div class="form-group">
    <label for="tweetText">Tweet</label>
    <input type="text" class="form-control" id="tweetText" name="tweetText">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>