<div class="container">
<div class="row"><h1 class="h1index">@{{user.twitterhandle}}</h1></div>
<div class="row"><h3 class="h3index">Skriv ett tweet så fixar vi rättstavningen</h3></div>

<form method="post" action="/tweet">
<input type="text" name="twitterid" value="{{user.twitterid}}" readonly hidden>

 <div class="row">


  <div class="col-lg-4"></div>
     <div class="col-lg-4">
      <div class="form-group-lg">
        <textarea class="form-control-lg" rows="5" id="tweetText" name="tweetText">{{cc}}</textarea>
      </div>
  </div>

  <div class="col-lg-4"></div>


  </div>

    <div class="row">
       <div class="col-lg-4"></div>

            <div class="col-lg-4">
          <div class="col-lg-4">
          <button type="submit" class="btn btn-outline-secondary twitter-btncolor btn-block"> Tweeta! </button>
         </div>
       </div>

       <div class="col-lg-4"></div>
  </div>
</form>

<div class="pushfooter"> </div>


</div>

<script>

  function go() {
      var c1 = document.getElementById('tweetText').value;
      var y = c1;
      var arr = y.split(/\s+/);
      console.log(arr)
      xhr.open('GET', "http://api.libris.kb.se/bibspell/spell?query={"+arr+"}&key=84DA2F0C4816075538ECED72534B17F4", true);
      xhr.send(null);
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function() {
          if (xhr.readyState == XMLHttpRequest.DONE) {
              var y = xhr.responseXML;
              console.log(y)
              var getSuggestions = y.querySelectorAll('term[changed="true"]');
              document.write("<h2> Förslag på korrekta ord: </h2>")
              for (var i = 0; i < getSuggestions.length; i++){
                document.write("<p>" + getSuggestions[i].childNodes[0].nodeValue + "<p>")
    }
  }
}
}

</script>
